.avatar-uploader-container {
    position: relative;
    display: inline-block;
}
  
.avatar-uploader-container img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    display: block;  
}
  
.avatar-uploader-container .avatar-uploader-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}
  
.container .btn:hover {
    background-color: black;
}
